html, body, div, ol, ul, li, p, span, img, a, em, form, button, iframe, h1, h2, h3, h4, h5, h6 {
    margin: 0px;
    padding: 0px;
    border: medium none;
}
body, html {
    text-align:left;
    font-family: '微软雅黑',Arial;
    font-size: 18px;
	background-color:#1D2855;
}
ul,li{list-style:none;}


a{text-decoration:none;}	

.left{float:left;}
	
.right{float:right;}


.center{text-align:center;}


#wrapper {
    position: relative;
    width: 1000px;
    margin: 0px auto;
    background-color:#1D2855;
}
.bgcolor{ background-color:#1D2855;}

/*******************  头部样式   begin ***************/
#header { width:990px; height:75px;  padding:15px 0px 10px 10px; }
#header .logo{ width:280px; height:75px; float:left; background:url(../images/logo.png) no-repeat;}
/*******************  头部样式   end ***************/

/*******************  内文样式   begin ***************/
#center{
	/*widows:1000px;	*/
	background-color:#DEDEDE;
	padding:30px 20px;
	overflow:hidden;
	
	position:relative;
}
.select{                                /*基于center的左侧导航DIV*/
	width:150px;
	height:auto;
	float:left;
}
.select_size .select2 .select3 .select4 .select5 .select6{     /*基于select的子DIV控制图片大小*/
	width:150px;
	height:50px;
}
.select6{	
    width:150px;
	height:50px;
	background-image:url(../images/select6.jpg);
	background-repeat: no-repeat;
	display:block;	
}
.select6:hover{
	background-image:url(../images/select6-1.jpg);
}  
.select1{
	width:150px;
	height:50px;	
	background-image:url(../images/select1.jpg);
	background-repeat: no-repeat;
	display:block;	
}
.select1:hover{
	background-image:url(../images/select1-1.jpg);
}  
.select2{
	width:150px;
	height:50px;	
	background-image:url(../images/select2.jpg);
	background-repeat: no-repeat;
	display:block;	
}
.select2:hover{
	background-image:url(../images/select2-1.jpg);
}  
.select3{
	width:150px;
	height:50px;	
	background-image:url(../images/select3.jpg);
	background-repeat: no-repeat;
	display:block;	
}
.select3:hover{
	background-image:url(../images/select3-1.jpg);
}  
.select4{
	width:150px;
	height:50px;
	background-image:url(../images/select4.jpg);
	background-repeat: no-repeat;
	display:block;	
}
.select4:hover{
	background-image:url(../images/select4-1.jpg);
}
.select5{
	width:150px;
	height:50px;	
	background-image:url(../images/select5.jpg);
	background-repeat: no-repeat;
	display:block;	
}
.select5:hover{
	background-image:url(../images/select5-1.jpg);
}  

.information{                      /*个人信息总的DIV*/
	width:780px;
	float:left;
	background-color:#FFF;
	padding:15px;
	-moz-box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.5);/*firefox*/
    -webkit-box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.5);/*safari或chrome*/
	box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.5);/*opera或ie9*/
}
.title{                  
	width:780px;
	height:42px;
	margin-bottom:10px;
	background-image:url(../images/xxxx.png);
}
.title .return{
	margin-left:20px;
	float:left;                   
	width:83px;
	height:42px;
}
/****状态框****/
.state{              /*状态框DIV*/    
	width:780px;
	height:100px;
	margin-bottom:10px;
	background-image:url(../images/xxxx-background.png);
	background-repeat:no-repeat;
}

.col_580{ width:570px; height:33px; padding:0 0 0 20px;}
.col_247{ width:290px; height:33px; padding:0 0 0 20px;}
.col_167{ width:166px; height:33px; padding:0 0 0 15px;}
.col_200{ width:200px; height:100px; }

tbody{ font-size:15px;}
tbody .lab{ padding-bottom:20px;}
.col_100{ width:80px; text-align:center; padding:0 10px;}
.col_180{ width:160px; text-align:center; padding:0 10px;}
.border_right{ border-right:1px solid #CCC;border-bottom:1px solid #ccc; }
.border_bottom{border-bottom:1px solid #ccc; }

.state ul{ width:100%; height:100px; }
.state ul li{ width:260px; height:50px; line-height:50px; padding-left:20px;  float: left;}

.state .state_right{ width:220px; height:100px;  float: left;}

.state_right_top{ height:30px;  padding-left:20px;   font-size:16px;}

.state_right_bottom{ padding-left:20px;  font-weight:bold; font-size:24px; color:rgb(118,158,47);}
/****状态框end****/


.block{                  /*信息填写大DIV*/
	margin:10px 0px;
	width:780px;
	overflow:hidden;	
	background-color:#F5F5F3;
	border:1px solid #BFBFBF;
	font-size:15px;
	border-radius:10px 10px 10px 10px;
	overflow:hidden;
}
/****订单明细****/
.subtitle{
	width:780px;
	height:52px;
    line-height:52px;
	margin:0px;
	padding:0px;
	overflow:hidden;
	border-bottom:1px solid #BFBFBF;
	

}
.subtitle_left{
	font-weight:bold;
	 font-size:20px; 
	 color:rgb(118,158,47); 
	 margin-left:20px;
	 }

.subtitle_right{
	float:right;
	height:52px;
	line-height:52px;
	margin-right:50px;
	padding:10px 0 0 0;
}

.btn{
    display: block;
    position: relative;
    background: none repeat scroll 0% 0% rgb(170, 170, 170);
	background-image:url(../images/shade.png);
    background-position: center bottom;	
	
	text-align:center;
	border-radius:5px; 
	overflow:inherit;   
    cursor: pointer
}
.btn a{
   color:#FFF; text-decoration: none;
}
.btn_70 a{
   color:#999; text-decoration: none;
}

.btn_70{    
    
    background: none repeat scroll 0% 0% rgb(255, 255, 255);
	background-image:url(../images/shade2.png);
    background-position: center bottom;	
		
	height:32px;
	line-height:32px;
	width:70px;	
	font-size:24px;
	margin:0 auto;
	border:1px solid #CCC;
	
	font-size:18px;
}
.btn_100 {
	background-color: rgb(152,221,68);	
	height:32px;
	line-height:32px;
	width:100px;
	margin-bottom:10px;
	font-size:18px;
	margin:0 auto;
}
/****订单明细 end****/

	

.subject{width:75px; height:75px; overflow:hidden; border:1px solid #CCC;}
.subject img{width:75px;margin-top:-10px;	}

.subject_select li{
	text-align:center; 
	width:75px; height:75px; 
	line-height:75px;
	margin-bottom:10px;
	 
	float:left;}
#alter{                       /*修改按钮DIV*/
	float:right;
	height:60px;
	padding:20px 40px 0px 0px;	
}

	



.page{                  
     text-align:right; 
	  width:100%; height:42px; 
	  padding-right:50px; 	  
	  line-height:42px; 
	  float:right;
	  font-size:16px;
	  border-top:1px solid #BFBFBF;}
.page span{ color:#CCC;}
.page .a1{ color:rgb(118,158,47)}
.page a{ color:#CCC;}
.page a:hover{color:rgb(118,158,47)}

/*******************  内文样式   end ***************/






/*******************  底部样式   begin ***************/
#footer { width:1000px;height:160px; text-align:center;}
#footer .footpic{ width:320px; margin:0px auto; height:50px; padding:15px 0px 0px 0px;}
#footer .footpic li{ padding-right:10px; float:left; }
#footer .footurl a:link{color:#ffffff; font-size:12px}
#footer .footurl a:hover{color:#ff0000; font-size:12px}	
#footer .footurl a:visited{color:#ffffff; font-size:12px}
#footer .footurl p {color:#FFF}
#footer .copyright{ color:#fff; font-size:12px; text-align:center; height:40px; width:1000px; display:block; line-height:40px;}
#footer .copyright p{ margin:10px 0px 0px 0px;font-size:12px;}
#footer .copyright p.forbid{ margin:-20px 0px; }
/*******************  底部样式   end ***************/